body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #0F1316;
    color: #ffffff;
}

#calculator{
    display: none;
}

#toggleCalculator{
    padding: 10px;
    font-size: 1em;
    background-color: #2F5D82;
    color: #EEEFEF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
}

#toggleCalculator:hover{
    background-color: #A1BACF;
    color: #EEEFEF;
}

.calculator {
    background-color: #2F5D82;
    padding: 20px;
    border-radius: 10px;
}

.calculator h2{
    color: #EEEFEF;
}

.calculator input, .calculator select {
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
    font-size: 1em;
}

.calculator button {
    padding: 10px;
    width: 100%;
    font-size: 1em;
    background-color: #4D98D4;
    color: #EEEFEF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.calculator button:hover {
    background-color: #A1BACF;
    color: #EEEFEF;
}

.info-text{
    padding: 10px;
    width: 40%;
    font-size: 1em;
    background-color: #A1BACF;
    color: #EEEFEF;
    border: none;
    border-radius: 5px;
    margin: 40px auto;
}